*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.konten {
    margin-left: 300px;
}
.box{
    width: 250px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 25px;
}
.slide-img{
    height: 240px;
}
.slide-img img{
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}
.type {
    display: flex;
    flex-direction: column;
}
.type a{
    color: black;
    margin: 5px 0px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-right: 8px;
}
.text span{
    color: chartreuse;
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
}
.music-container{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
    display: flex;
    padding: 20px 30px;
    margin-top: 800px;
    position: fixed;
    z-index: 10;
}

.img-container::after{
    content: '';
    background-color: white;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.img-container {
    width: 110px;
    position: relative;
}

.img-container img{
    width: inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: 0;

    animation: rotate 3s linear infinite;

    animation-play-state: paused;
}

.music-container.play .img-container img {
    animation-play-state: running ;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: white;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}
.action-btn big{
    color: #dcd2d0;
    font-size: 30px;
}
.action-btn:focus{
    outline: 0;
}
.music-info{
    background-color: rgba(252, 255, 255, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    transform: translateY(0%);
    padding: 10px 10px 10px 150px;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.music-info h4{
    margin: 0;

}

.music-container.play .music-info{
    opacity: 1;
    transform: translateY(-100%);
}
.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 50%;
    transition: widht 0.1s linear;


}



.navbar-dark .navbar-nav .nav-link {
  padding: 0 20px;
  color: white;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active {
    color: rgb(9, 255, 0);
}
.navbar {
    background-color: black;
}
.d-flex {
    border-radius: 30%;
}

input[type="search"] {
    background-color: #E5E5E5;
    border-style: none;
    border-radius: 10px;
    font-weight: bold;
    width: 200px;
    height: 30px;
}
