*{
    padding: 0;
    margin: 0;
}

/*footer*/
footer{
    background: #000000;
    padding: 50px 0px 50px 0px;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20%;
    margin: 0 auto;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.footer-section .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: ivory;
    margin: 0 10px 0 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: all 0.5s ease;
}

.footer-section .social-links a :hover{
    color: rgb(240, 16, 16);

}

.navbar-dark .navbar-nav .nav-link {
  padding: 0 20px;
  color: white;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active {
    color: rgb(9, 255, 0);
}
.navbar {
    background-color: black;
}
.d-flex {
    border-radius: 30%;
}

input[type="search"] {
    background-color: #E5E5E5;
    border-style: none;
    border-radius: 10px;
    font-weight: bold;
    width: 200px;
    height: 30px;
}

#home {
    background-image: url("foto/bg-index.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home p {
    font-size: 96px;
    font-weight: bold;
}

button {
    border: none;
    border-radius: 15%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #000000;
  }

/* login */